{#
/**
 * @file membership_term.html.twig
 * Default theme implementation to present Membership term entity data.
 *
 * This template is used when viewing Membership term entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_membership_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('membership_term') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
